<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BiliHP2020.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <BiliHP2020.Properties.Settings>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="token" serializeAs="String">
                <value />
            </setting>
            <setting name="app_heart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pc_heart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="daily_bag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="online_silver" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="silver_task" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="daily_task" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="silver_to_coin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="yingyuan_sign" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="raffle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="guard" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tianxuan" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pk" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="storm" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="time" serializeAs="String">
                <value>{}</value>
            </setting>
            <setting name="percent" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="update_time" serializeAs="String">
                <value />
            </setting>
            <setting name="date" serializeAs="String">
                <value />
            </setting>
            <setting name="setting_lock" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="debug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setting_read" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="join_room" serializeAs="String">
                <value>False</value>
            </setting>
        </BiliHP2020.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
