<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BiliHP2020.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <BiliHP2020.Properties.Settings>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="token" serializeAs="String">
                <value />
            </setting>
            <setting name="app_heart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pc_heart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="daily_bag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="online_silver" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="silver_task" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="daily_task" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="silver_to_coin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="yingyuan_sign" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="raffle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="guard" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tianxuan" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pk" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="storm" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="time" serializeAs="String">
                <value>{}</value>
            </setting>
            <setting name="percent" serializeAs="String">
                <value>99</value>
            </setting>
            <setting name="update_time" serializeAs="String">
                <value />
            </setting>
            <setting name="date" serializeAs="String">
                <value />
            </setting>
            <setting name="setting_lock" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="debug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setting_read" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="join_room" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="strom_catch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="storm_count" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="storm_time" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ban_words" serializeAs="String">
                <value>拉黑,黑名单,脸皮厚,没有奖品,无奖,脸皮厚,ceshi,测试,测试,测试,脚本,抽奖号,星段位,星段位,圣晶石,圣晶石,水晶,水晶,万兴神剪手,万兴神剪手,自付邮费,自付邮费,test,Test,TEST,加密,QQ,测试,測試,VX,vx,ce,shi,这是一个,lalall,第一波,第二波,第三波,测试用,抽奖标题,策是,房间抽奖,CESHI,ceshi,奖品A,奖品B,奖品C,硬币,无奖品,白名单,我是抽奖,0.1,五毛二,一分,一毛,0.52,0.66,0.01,0.77,0.16,照片,穷,0.5,0.88,双排,1毛,1分,1角,P口罩,素颜,写真,图包,五毛,一角,冥币,自拍,日历,0.22,加速器,越南盾</value>
            </setting>
            <setting name="box" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="do_sign" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="manga_sign" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="manga_share" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ban_danmu" serializeAs="String">
                <value>禁言礼包,封号礼包,禁言,测试,封禁,口球</value>
            </setting>
        </BiliHP2020.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
